$thumbnail-width: 120px;
$thumbnail-height: 120px;

$regular-border: 3px solid white;
$hover-border: 3px solid lightblue;
$selected-border: 3px solid cornflowerblue;  

thumbnail-image {
  display: block;
  width: $thumbnail-width;
  height: $thumbnail-height;
  margin: 10px;
  border: $regular-border;
  position: relative;
  
  &[selected] {
    border: $selected-border;
  }
  
  &[selected]:hover {
    border: $selected-border;
  }
  
  &:hover {
    border: $hover-border;
  }
  
  img {
    width: $thumbnail-width;
    height: $thumbnail-height;
  }
  
  .trash-icon {
    position: absolute;
    bottom: 5px;
    right: 5px;
    background-color: white;
    padding: 6px 8px;
    border-radius: 50%;
    opacity: 0.7;
  }
}
