<div data-hook="preview-image">
  <img ng-src="https://static.wixstatic.com/media/{{$ctrl.item.relativeUri}}_srz_p_288_155_75_22_0.50_1.20_0.00_jpg_srz" alt="{{$ctr.item.title}}">
  <div class="preview-image-title" data-hook="preview-title">{{$ctrl.item.title}}</div>
  <a href=""><div ng-click="$ctrl.onPrev()" data-hook="preview-prev" class="preview-image-nav is-prev">&lt;</div></a>
  <a href=""><div ng-click="$ctrl.onNext()" data-hook="preview-next" class="preview-image-nav is-next">&gt;</div></a>
</div>  